/* Content Section Styles */
.content {
  padding: 20px; /* Distance from the top main navbar and left/right browser-edge */
}

.tag-toggle {
  display: inline-block;
  cursor: pointer;
  margin-right: 3px; /* Optional spacing */
}

.toggle-image {
  width: 24px; /* Adjust the size of the toggle */
  height: 13px;
}

.right-main-container {
  margin: 10px;
}

.category-container {
  margin-bottom: 20px; /* Space between categories */
}
