/* Content Section Styles */
.content {
    padding: 20px; /* Distance from the top main navbar and left/right browser-edge */
    display: none; /* Hide content sections by default */
}

.content.active {
    display: block; /* Show only the active tab */
}

.tag-toggle {
    display: inline-block;
    cursor: pointer;
    margin-right: 3px; /* Optional spacing */
}

.toggle-image {
    width: 24px; /* Adjust the size of the toggle */
    height: 13px;
}

.right-main-container {
    margin: 10px;
}
