/* gallery.css */
.dropdown {
    margin-bottom: 20px;
}

#gallery-image-grid {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 10px;
    margin-bottom: 20px;
}

/* Set fixed width and height for images */
#gallery-image-grid img {
    width: 100%; /* Ensures images fill their grid cell */
    height: 150px; /* Set a fixed height for all images */
    border: 1px solid #ccc;
    object-fit: cover; /* Ensures images fill their container without stretching */
    cursor: pointer;
}

#gallery-image-grid img:hover {
    opacity: 0.8; /* Optional: add a subtle hover effect, like lowering opacity */
}

.pagination {
    text-align: center;
}

.pagination a {
    margin: 0 5px;
    text-decoration: none;
    color: blue;
}
