/* Navbar Styles */
.main_top_navbar {
    display: flex;
    background-color: #333;
    overflow: hidden;
}

.main_top_navbar a {
    flex: 1;
    padding: 14px 20px;
    text-align: center;
    text-decoration: none;
    color: white;
    transition: background-color 0.5s;
}

.main_top_navbar a:hover {
    background-color: #575757;
}
