/* Tab Content Container */
.tab1-all-content-container {
    display: grid;
    grid-template-columns: 1fr 40px 1fr; /* Adjust column sizes as needed */
    grid-template-rows: 30px 1fr; /* Tabs row height and content row height */
    grid-template-areas: 
        "tabs zoom-controls future-content"
        "image zoom-controls future-content";
    height: 800px; /* Adjust as needed */
}

/* Tabs Container */
.tex-type-navbar-container {
    grid-area: tabs;
    overflow-x: auto; /* Allow horizontal scrolling if needed */
    display: flex;
    align-items: center;
    background-color: #f0f0f0; /* Background color for tabs */
    border-bottom: 1px solid #ccc; /* Optional: Border for visual clarity */
}

/* Tabs */
.tex-type-navbar {
    display: flex;
    height: 100%;
}

/* Tab Items */
.tex-type-navitem {
    padding: 10px;
    text-align: center;
    text-decoration: none;
    color: white;
    border: 1px solid #ccc; /* Border for visual clarity */
    margin-right: 2px;
    background-color: #888; /* Background color for tabs */
    transition: background-color 0.3s;
}

.tex-type-navitem.highlighted {
    background-color: #333; /* Example color, adjust as needed */
}

.tex-type-navitem.highlighted:hover {
    background-color: #575757;
}

/* Image Container */
.image-container {
    grid-area: image;
    overflow: auto; /* Ensure scroll bars appear if needed */
    border: 1px solid #ccc; /* Optional: Border for visual clarity */
}

/* Image */
#random-image {
    max-width: 100%; /* Adjust to container width */
    max-height: 100%; /* Adjust to container height */
    height: auto;
    width: auto;
    transform-origin: center center;
    object-fit: contain;
}


